@model List<CustomRoleBased.Models.RolePermissionsViewModel>
@{
}

<h2>Role Permissions</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role Id</th>
            <th>Role Name</th>
            <th>Page Id</th>
            <th>Page Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.RoleId</td>
                <td>@item.RoleName</td>
                <td>@item.PageId</td>
                <td>@item.PageName</td>
                <td>
                    <a href="User/DeletePermission/@item.Id" title="Delete">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>